{% extends 'mi_app/base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-3">Lista de Productos</h2>

    <!-- Botón para agregar nuevo producto -->
    <a href="{% url 'crear_producto' %}" class="btn btn-success mb-3">
        <i class="fas fa-plus"></i> Agregar Producto
    </a>

    <table id="productosTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <button class="btn btn-danger btn-sm" onclick="confirmarEliminacion({{ producto.id }})">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#productosTable').DataTable();
    });
    
    function confirmarEliminacion(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/eliminar/${id}/`;  // Redirección directa
            }
        });
    }
</script>


{% endblock %}
